
/* #Header & Nav */
.jumbotron{
background: rgb(51,195,34);
background: linear-gradient(0deg, rgba(51,195,34,1) 11%, rgba(253,45,45,0) 100%);
}
body{
background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(0,212,255,0) 100%);
}
